[submodule "src/libuavcan"]
	path = src/libuavcan
	url = https://github.com/Tal-seven/libuavcan.git
[submodule "src/seven_robotics_msgs"]
	path = src/seven_robotics_msgs
	url = https://github.com/Tal-seven/seven_robotics_msgs.git
[submodule "src/uavcan_ros_bridge"]
	path = src/uavcan_ros_bridge
	url = https://github.com/Tal-seven/uavcanRosBridge.git
	master = master
[submodule "src/sicktoolbox_wrapper"]
	path = src/sicktoolbox_wrapper
	url = https://github.com/Tal-seven/lms_toolbox_wrapper
[submodule "src/sicktoolbox"]
	path = src/sicktoolbox
	url = https://github.com/Tal-seven/lms_toolbox
[submodule "src/seven_robot_perception"]
	path = src/seven_robot_perception
	url = https://github.com/Tal-seven/seven_robot_perception.git
[submodule "src/seven_robot_vision"]
	path = src/seven_robot_vision
	url = https://github.com/Tal-seven/seven_robot_vision.git
[submodule "src/seven_robot_visualization"]
	path = src/seven_robot_visualization
	url = https://github.com/Tal-seven/seven_robot_visualization.git
[submodule "src/seven_robot_utils"]
	path = src/seven_robot_utils
	url = https://github.com/Tal-seven/seven_robot_utils.git
[submodule "src/realsense_gazebo_plugin"]
	path = src/realsense_gazebo_plugin
	url = https://github.com/SevenRobotics/realsense_gazebo_plugin.git
[submodule "src/seven_robot_navigation"]
	path = src/seven_robot_navigation
	url = https://github.com/Tal-seven/seven_robot_navigation.git
[submodule "src/navigation"]
	path = src/navigation
	url = https://github.com/ros-planning/navigation.git
[submodule "src/slam_toolbox"]
	path = src/slam_toolbox
	url = https://github.com/SteveMacenski/slam_toolbox.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "src/seven_depth_utils"]
	path = src/seven_depth_utils
	url = https://github.com/Tal-seven/seven_depth_utils.git
[submodule "src/move_base_flex"]
	path = src/move_base_flex
	url = https://github.com/magazino/move_base_flex.git
[submodule "src/simple_move_behaviortree"]
	path = src/simple_move_behaviortree
	url = https://github.com/Tal-seven/simple_move_behaviortree.git
[submodule "src/BehaviorTree.CPP"]
	path = src/BehaviorTree.CPP
	url = https://github.com/BehaviorTree/BehaviorTree.CPP.git
[submodule "src/spatio_temporal_voxel_layer"]
	path = src/spatio_temporal_voxel_layer
	url = https://github.com/SteveMacenski/spatio_temporal_voxel_layer.git
[submodule "src/seven_bt_plugins"]
	path = src/seven_bt_plugins
	url = https://github.com/Tal-seven/seven_bt_plugins.git
[submodule "src/seven_robot_behaviors"]
	path = src/seven_robot_behaviors
	url = https://github.com/Tal-seven/seven_robot_behaviors.git
