<launch>
 <arg name="realsense_enabled"/>
 
 <group if="$(arg realsense_enabled)">
  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
    <arg name="camera" value="sensor_d415_left"/>
    <arg name="serial_no" value="802212060737"/>
    <arg name="enable_pointcloud" value="true"/>
    <arg name="enable_depth" value="true"/>
    <arg name="depth_height" value="720"/>
    <arg name="depth_width" value="1280"/>
    <arg name="color_width" value="1280"/>
    <arg name="color_height" value="720"/>
  </include>
  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
    <arg name="camera" value="sensor_d415_right"/>
    <arg name="serial_no" value="746112061094"/>
    <arg name="enable_pointcloud" value="true"/>
    <arg name="enable_depth" value="true"/>
    <arg name="depth_height" value="720"/>
    <arg name="depth_width" value="1280"/>
    <arg name="color_width" value="1280"/>
    <arg name="color_height" value="720"/>
  </include>
 </group>
 
 <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true">
	<rosparam command="load" file="$(find seven_robot_localization)/params/ekf.yaml"/>
 </node>
</launch>
