<launch>
 <arg name="localize"/> 
 <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true">
	<rosparam command="load" file="$(find seven_robot_localization)/params/ekf.yaml"/>
 </node>

 <group if="$(arg localize)">
   <arg name="map_file" default="$(find seven_robot_base)/nasit_26Jan.yaml"/>
   <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
   <node pkg="amcl" type="amcl" name="amcl">
    <rosparam command="load" file="$(find seven_robot_localization)/params/amcl.yaml"/>
   </node>
 </group>

</launch>
