<?xml version="1.0"?>
<launch>
	<arg name="laser_enabled" default="$(optenv SEVEN_LMS_ENABLED true)"/>	
	<arg name="realsense_enabled" default="$(optenv SEVEN_REALSENSE_ENABLED true)"/>
	<arg name="kinect_enabled" default="$(optenv SEVEN_KINECT_ENABLED true)"/>

	<include file="$(find seven_robot_description)/launch/description.launch">
		<arg name="laser_enabled" default="$(arg laser_enabled)"/>
	</include>

	<include file="$(find seven_robot_localization)/launch/seven_robot_localization.launch"/>
	
	<group>
		<machine name="sevenPC1" address="192.168.0.4" user="talha" env-loader="/opt/ros/kinetic/env.sh" default="true"/>
		<node name="rviz" pkg="rviz" type="rviz" args="-d $(find seven_robot_description)/rviz/default.rviz"/>
	<group>

		<machine name="udooqdl" address="192.1680.23" user="root" env-loader="/opt/ros/kinetic/env.sh" default="true"/>
		<include file="$(find uavcan_ros_bridge)/launch/uavcan_ros_bridge.launch">
	</group>
	
</launch>
