<?xml version="1.0"?>
<launch>
	<arg name="enable_Laser" value="$(env SEVEN_LMS_ENABLED)"/>	
	<arg name="realsense_enabled" value="$(env SEVEN_REALSENSE_ENABLED)"/>
	<arg name="kinect_enabled" value="$(env SEVEN_KINECT_ENABLED)"/>
	<arg name="uavcanNs" value="/uavcanRosBridge"/>
	<arg name="publishcanTf" value="false"/>
	<arg name="motors_enabled" value="true"/>

	<include file="$(find seven_robot_localization)/launch/seven_robot_localization.launch">
	 <arg name="realsense_enabled" default="$(arg realsense_enabled)"/>
	</include>

	<group if="$(arg enable_Laser)">
		<node pkg="lms1xx" type="LMS1xx_node" name="LMS1xx_node" launch-prefix="bash -c 'sleep $(arg delay); $0 $@' ">
		 <rosparam command="load" file="$(find seven_robot_base)/params/sickParams.yaml"/>
		</node>
  </group>
	
	<node pkg="joy" type="joy_node" name="joy_node"/>
	<node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy"/>
	
	<include file="$(find seven_robot_description)/launch/description.launch">
	</include>
	
  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diag_agg">
		<rosparam command="load" file="$(find seven_robot_base)/analyzers.yaml"/>
	</node>	

	<group>
	 <machine name="sevenPC1" address="sevenPC1" user="talha" env-loader="/home/talha/SevenRobotics/Seven_ROS/env_loader_sevenPC1.sh" default="true"/>
	 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find seven_robot_description)/rviz/description.rviz"/>
	</group>

	<group>
    <machine name="udooqdl" address="udooqdl" user="root" env-loader="/home/root/Seven_ROS/env_loader_udooqdl.sh" default="true"/>
	  <rosparam file="$(find seven_robot_base)/params/robotParams.yaml" command="load" ns="$(arg uavcanNs)/uavcan_ros_bridge"/>
    <include file="$(find uavcan_ros_bridge)/launch/uavcan_ros_bridge.launch">
	    <arg name="uavcanNs" value="$(arg uavcanNs)"/>
	    <arg name="laser_enabled" default="$(arg enable_Laser)"/>
	    <arg name="publishuavcanTf" default="$(arg publishcanTf)"/>
	    <arg name="enableMotors" default="$(arg motors_enabled)"/>
	  </include>
	</group>

</launch>
