<?xml version="1.0"?>
<launch>
	<arg name="realsense_enabled" value="$(env SEVEN_REALSENSE_ENABLED)"/>
	<arg name="camera_manager" value="depthManager"/>
	<arg name="camera1" value="sensor_d415_right"/>
	<arg name="camera2" value="sensor_d415_left"/>
	
  <group if="$(arg realsense_enabled)">
	<node pkg="nodelet" type="nodelet" name="$(arg camera_manager)" args="manager" output="screen">
	</node>
	
	<include file="$(find seven_robot_base)/launch/dual_realsense.launch">
	 <arg name="manager" value="/$(arg camera_manager)"/>
	 <arg name="camera1" value="$(arg camera1)"/>
 	 <arg name="camera2" value="$(arg camera2)"/>
 	</include>
	<node pkg="seven_robot_base" type="pyrealsense_mod.py" name="pyrealsense_mod" output="screen"/>	
  </group>
</launch>
